---
const Offres = Astro.props;
---

<div class="card" style="background-color: rgb(233, 156, 156)" >
    <h4 style="margin: 20px;"><b>{Astro.props.nomMaison}</b></h4>
    <img
        src={Astro.props.imgUrl}
        alt={Astro.props.nomMaison}
        style="border-radius: 20px; width: 10%"
    />
    <div class="container">
        <p>{Astro.props.adresse}</p>
        <p>Prix: {Astro.props.prix} € / mois</p>
        <p>Chambres: {Astro.props.nbChambres}</p>
        <p>Salles de bain: {Astro.props.nbSdb}</p>
        <p>Surface: {Astro.props.surface} m²</p>
    </div>
</div>
