---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Cards from "../../components/Cards.astro";
import { getOffres } from "../../js/backend.mjs";
import { filterByPrix } from "../../js/backend.mjs";


let Offres = [];
let message = '';
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        Offres = await filterByPrix(minPrix, maxPrix);
        if (Offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    Offres = await getOffres();
}
---

<Layout titre="Offres">
    <h1
        style="color: rgb(63, 205, 231); font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 10px;font-size: large;"
    >
        Offres
    </h1>
    <p
        style="margin: 10px; font-weight: 500; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
    >
        Consultez nos différentes offres de logement.
    </p>
    <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2" style="margin: 10px 20px;">Afficher les favoris</button>
    <button
    style="background-color:rgb(179, 230, 237); border: 1px solid rgb(155, 205, 235); text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px 20px; cursor: pointer;"
>
    <a style="font-size: 18px; font-weight: 600;" href={`/offres/add`}
        >ajouter une annonce</a
    >
</button>
<form action="/offres" method="POST">
    <input class="w-full mt-2 p-2 border border-gray-300 rounded-md"type="number" name="minPrix" placeholder="Prix minimum" />
    <input class="w-full mt-2 p-2 border border-gray-300 rounded-md"type="number" name="maxPrix" placeholder="Prix maximum" />
    <input class="w-full mt-2 p-2 border border-gray-300 rounded-md"type="submit" value="Filtrer par prix" />
</form>

<div>
    {
        Offres.map(offre => (
            <div class="offre" data-favori={offre.favori.toString()}>
                <!-- Contenu de l'offre -->
                  <Cards
                       offre={offre}
                    />
            </div>
        ))
    }
</div>
<script>
    //@ts-nocheck
    const button = document.getElementById('favori-button');
    let showOnlyFavorites = false;
    
    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre');
        
        offres.forEach(offre => {
            const isFavori = offre.dataset.favori === 'true';
            
            if (showOnlyFavorites) {
                offre.style.display = isFavori ? 'block' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                offre.style.display = 'block';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>
</Layout>
